{{ define "gallery" }}
{{ $featured_image := partial "featureimage/bg.html" . }}
{{ $includeOriginalImage := default true (.Param "includeOriginalImage") }}
{{ $largeImageSize := default "2000x" (.Param "largeImageSize") }}
{{ $images := partial "sortedimages.html" . }}

<div class="col-lg-6 p-0" id="gallery-panel" style="background-image: url('{{ $featured_image }}');">
  <div class="container-fluid h-100 p-0">
    <div class="row h-100 p-0">
      <div class="col my-auto p-0">
        <ul class="split-grid list-unstyled">
          {{ range $images }}
            {{ $linkToThumbnail := partial "image-processing/thumbnail.html" . }}
            {{ $large := .Resize $largeImageSize }}
            {{ if $includeOriginalImage }}
              <li><a href="{{ .Permalink }}"
                  data-srcset="{{ .Permalink }} {{ .Width }}w, {{ $large.Permalink }} {{ $large.Width }}w"
                  data-fancybox="gallery"><img src="{{ $linkToThumbnail }}" /></a></li>
            {{ else }}
              <li><a href="{{ $large.Permalink }}"
                  data-srcset="{{ $large.Permalink }} {{ $large.Width }}w"
                  data-fancybox="gallery"><img src="{{ $linkToThumbnail }}" /></a></li>
            {{ end }}
          {{ end }}
        <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "main_content" }}
{{ partial "map/single.html" . }}
{{ end }}

{{ define "lists" }}
<div class="col">
  <ul class="list-unstyled" id="list-metadata">

    {{ $dates := slice }}
    {{ range .Resources.ByType "image" }}
      {{ if .Exif }}
        {{ if .Exif.Date }}
          {{ $dates = $dates | append (.Exif.Date.Format "2006-01-02") }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if $dates }}
      <li>{{ i18n "photosTakenOn" (delimit (sort (uniq ($dates))) ", ") }}</li>
    {{ end }}

    {{ $page := . }}
    {{ range where .Site.Pages "Kind" "taxonomy" }}
      {{ $key := .Data.Singular }}
      {{ $val := $page.Params.Get .Data.Plural }}
      {{ if $val }}
        {{- if not (reflect.IsSlice $val) -}}{{- $val = slice $val -}}{{- end -}}
        <li>
          In the
          {{ range $index, $p := sort ($page.GetTerms .Data.Plural) "Page.Title" "asc" }}
            {{- if gt $index 0 }}, {{ end -}}
            <a href="{{ $p.Page.Permalink }}">{{ default $p.Page.Title (i18n (printf "%s-%s" $key $p.Page.Title)) }}</a>
          {{- end -}}
          {{ if gt (len $val) 1 }}
            {{ default .Data.Plural (i18n .Data.Plural) }}
          {{ else }}
            {{ default .Data.Singular (i18n .Data.Singular) }}
          {{ end }}
        </li>
      {{ end }}
    {{ end }}

    {{ range where .Site.Sections "Section" .Section }}
      <li>Categorized as <a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}

  </ul>
</div>

<div class="col">
  {{ .Content }}
</div>
{{ end }}
