{{ define "gallery" }}
{{ partial "grid.html" . }}
{{ end }}

{{ define "main_content" }}
{{ partial "map/list.html" . }}
{{ end }}

{{ define "lists" }}
  {{ if gt (len $.Site.Sections) 1 }}
  <div class="col" id="sections">
    <h3>All categories</h3>
    <ul>
    {{ range $.Site.Sections }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> ({{ len .Pages }})</li>
    {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ range where .Site.Pages "Kind" "taxonomy" }}
    {{ $key := .Data.Singular }}
    {{ if gt (len .Data.Terms) 0 }}
      <div class="col" id="taxonomy-{{ $key }}">
        <h3>Main {{ default .Data.Plural (i18n .Data.Plural) }}</h3>
        <ul>
          {{ range first 5 .Data.Terms.ByCount }}
          <li><a href="{{ .Page.Permalink }}">{{ default .Page.Title (i18n (printf "%s-%s" $key .Page.Title)) }}</a> ({{ .Count }})</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
